sudo: false

language: php

cache:
  directories:
    - $HOME/.composer/cache/files

php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - 7.1
  - 7.2
  - hhvm

matrix:
  fast_finish: true
  include:
    - php: 5.3
      env: deps="low"
    - php: 7.0
    - php: 7.1
    - php: 7.2
      env: xdebug="yes"

before_install:
  - if [[ "$TRAVIS_PHP_VERSION" != "hhvm" && "$xdebug" != "yes" ]]; then phpenv config-rm xdebug.ini; fi
  - composer self-update
  - composer require 'phpunit/phpunit:^4.8.35|^5.4.3|^6.0' --dev --no-update

install:
  - if [ "$deps" = "low" ]; then composer update --prefer-lowest --prefer-stable; else composer install; fi

script:
  - vendor/bin/phpspec run
  - if [[ "$xdebug" = "yes" ]]; then vendor/bin/phpunit --coverage-clover=coverage.clover; else vendor/bin/phpunit; fi
  - if [[ "$xdebug" = "yes" ]]; then wget https://scrutinizer-ci.com/ocular.phar; fi
  - if [[ "$xdebug" = "yes" ]]; then php ocular.phar code-coverage:upload --format=php-clover coverage.clover; fi
